<?xml version="1.0" encoding="UTF-8"?>
<config>
	<Patterns>
  
  <Pattern>
    <Key>P(T(\d+[hH])?(\d+[mM])?(\d+(\.\d+)?[sS])?)?</Key>
    <Samples>PT1H;PT1M;PT15M;</Samples>
  </Pattern>
  
  <Pattern>
    <Key>P(\d+[mM])?(\d+[wW])?(\d+[dD])?</Key>
    <Samples>P1M;P1M2D;P1W;P1D;P2W3D;P2W5D</Samples>
  </Pattern>
    <Pattern>
				<Key>P(\d+[wW])?(\d+[dD])?</Key>
				<Samples>P1W;P1D;P2W3D;P2W5D</Samples>
			</Pattern>
            <Pattern>
				<Key>P(\d+[yY])?(\d+[mM])?(\d+[wW])?(\d+[dD])?</Key>
				<Samples>P1Y2M3W4D;P1Y;P2W;P3D</Samples>
			</Pattern>
            <Pattern>
				<Key>P(\d+[yY])?(\d+[mM])?(\d+[dD])?</Key>
				<Samples>P1Y2M4D;P1Y;P2M;P3D</Samples>
			</Pattern>
            <Pattern>
				<Key>P(\d+Y)?(\d+M)?(\d+W)?(\d+D)?(T(\d+H)?(\d+M)?(\d+(\.\d+)?S)?)?</Key>
				<Samples>P1Y2M4DT5H6M.30S;P1YT2M;P2MT4H;P3D</Samples>
			</Pattern>
            <Pattern>
				<Key>P(\d+[yY])?(\d+[mM])?(\d+[wW])?(\d+[dD])?(T(\d+[hH])?)?</Key>
				<Samples>P1Y2M4DT5H;P1YT2H;P2MT4H;P3D</Samples>
			</Pattern>
            <Pattern>
				<Key>P(T(\d+[mM])?)?</Key>
				<Samples>PT1M;PT10M;PT5M;PT15M</Samples>
			</Pattern>
            <Pattern>
				<Key>P(\d+[dD])?(T(\d+[hH])?(\d+[mM])?)?</Key>
				<Samples>P1DT1H1M;P2DT1H10M;P2DT3H5M;P3DT4H15M</Samples>
			</Pattern>
            <Pattern>
				<Key>P(\d+[mM])?(\d+[wW])?(\d+[dD])?(T(\d+[hH])?)?</Key>
				<Samples>P1DT1H;P1M2DT1H;P2D;P1WT1H;P3M1W;PT5H</Samples>
			</Pattern>
            <Pattern>
				<Key>P(\d+[dD])?</Key>
				<Samples>P1D;P2D;P3D;P5D</Samples>
			</Pattern>
            <Pattern>
				<Key>(\+|\-)?(0|[1-9][0-9]*)?</Key>
				<Samples>2;3;1;1;10;15;120;80;1200;500;3</Samples>
			</Pattern>
            <Pattern>
				<Key>(\+|\-)?(0|[1-9][0-9]*)?(\.[0-9]{1})?</Key>
				<Samples>2;3;1;1;10.00;15.1;120.3;80;1200.1;500.0;3.2</Samples>
			</Pattern>
            <Pattern>
				<Key>(\+|\-)?(0|[1-9][0-9]*)?(\.[0-9]{2})?</Key>
				<Samples>2;3;1;1;10.00;15.1;120.34;80;1200.1;500.10;3.12</Samples>
			</Pattern>
            <Pattern>
				<Key>(\+|\-)?(0|[1-9][0-9]*)?(\.[0-9]{3})?</Key>
				<Samples>2;3;1;1;10.000;15.123;120.345;80;1200.12;500.100;3.123</Samples>
			</Pattern>
	</Patterns>
	<Units>
		<Unit>
			<Value>Cel</Value>
			<Name>°С</Name>
		</Unit>
		<Unit>
			<Value>week</Value>
			<Name>неделя</Name>
		</Unit>
		<Unit>
			<Value>hour</Value>
			<Name>час</Name>
		</Unit>
		<Unit>
			<Value>month</Value>
			<Name>месяц</Name>
		</Unit>
		<Unit>
			<Value>year</Value>
			<Name>год</Name>
		</Unit>
		<Unit>
			<Value>day</Value>
			<Name>день</Name>
		</Unit>
		<Unit>
			<Value>second</Value>
			<Name>секунда</Name>
		</Unit>
		<Unit>
			<Value>minute</Value>
			<Name>минута</Name>
		</Unit>
		<Unit>
			<Value>Sv</Value>
			<Name>Зв</Name>
		</Unit>
		<Unit>
			<Value>mg/l</Value>
			<Name>мг/л</Name>
		</Unit>
		<Unit>
			<Value>/yr</Value>
			<Name>/год</Name>
		</Unit>
		<Unit>
			<Value>10*12/l</Value>
			<Name>10*12/л</Name>
		</Unit>
		<Unit>
			<Value>cm2</Value>
			<Name>см2</Name>
		</Unit>
		<Unit>
			<Value>mm/h</Value>
			<Name>мм/ч</Name>
		</Unit>
		<Unit>
			<Value>Minutes</Value>
			<Name>минуты</Name>
		</Unit>
		<Unit>
			<Value>/ml</Value>
			<Name>/мл</Name>
		</Unit>
		<Unit>
			<Value>/mo</Value>
			<Name>/месяц</Name>
		</Unit>
		<Unit>
			<Value>mm3</Value>
			<Name>мм3</Name>
		</Unit>
		<Unit>
			<Value>/d</Value>
			<Name>/день</Name>
		</Unit>
		<Unit>
			<Value>mg</Value>
			<Name>мг</Name>
		</Unit>
		<Unit>
			<Value>10*9/l</Value>
			<Name>10*9/л</Name>
		</Unit>
		<Unit>
			<Value>ml</Value>
			<Name>мл</Name>
		</Unit>
		<Unit>
			<Value>mm</Value>
			<Name>мм</Name>
		</Unit>
		<Unit>
			<Value>mo</Value>
			<Name>мес</Name>
		</Unit>
		<Unit>
			<Value>J/min</Value>
			<Name>Дж/мин</Name>
		</Unit>
		<Unit>
			<Value>ft3</Value>
			<Name>фут3</Name>
		</Unit>
		<Unit>
			<Value>mm[Hg]</Value>
			<Name>мм.рт.ст.</Name>
		</Unit>
		<Unit>
			<Value>dioptre</Value>
			<Name>дптр</Name>
		</Unit>
		<Unit>
			<Value>nanomol/d</Value>
			<Name>нмоль/день</Name>
		</Unit>
		<Unit>
			<Value>in3</Value>
			<Name>дюйм3</Name>
		</Unit>
		<Unit>
			<Value>mSv</Value>
			<Name>мЗв</Name>
		</Unit>
		<Unit>
			<Value>Hz</Value>
			<Name>Гц</Name>
		</Unit>
		<Unit>
			<Value>gm/l</Value>
			<Name>гм/л</Name>
		</Unit>
		<Unit>
			<Value>U/l</Value>
			<Name>Е/л</Name>
		</Unit>
		<Unit>
			<Value>U/ml</Value>
			<Name>Е/мл</Name>
		</Unit>
		<Unit>
			<Value>/wk</Value>
			<Name>/неделю</Name>
		</Unit>
		<Unit>
			<Value>fl</Value>
			<Name>фл</Name>
		</Unit>
		<Unit>
			<Value>IU/ml</Value>
			<Name>МЕ/мл</Name>
		</Unit>
		<Unit>
			<Value>m/s</Value>
			<Name>м/с</Name>
		</Unit>
		<Unit>
			<Value>µg</Value>
			<Name>мкг</Name>
		</Unit>
		<Unit>
			<Value>min</Value>
			<Name>мин</Name>
		</Unit>
		<Unit>
			<Value>wk</Value>
			<Name>недель</Name>
		</Unit>
		<Unit>
			<Value>/min</Value>
			<Name>/мин</Name>
		</Unit>
		<Unit>
			<Value>U</Value>
			<Name>Е</Name>
		</Unit>
		<Unit>
			<Value>millisec</Value>
			<Name>мс</Name>
		</Unit>
		<Unit>
			<Value>nanogm/ml</Value>
			<Name>нг/мл</Name>
		</Unit>
		<Unit>
			<Value>kg</Value>
			<Name>кг</Name>
		</Unit>
		<Unit>
			<Value>dB</Value>
			<Name>дБ</Name>
		</Unit>
		<Unit>
			<Value>cc</Value>
			<Name>см3</Name>
		</Unit>
		<Unit>
			<Value>a</Value>
			<Name>лет</Name>
		</Unit>
		<Unit>
			<Value>d</Value>
			<Name>дней</Name>
		</Unit>
		<Unit>
			<Value>m2</Value>
			<Name>м2</Name>
		</Unit>
		<Unit>
			<Value>gm</Value>
			<Name>г</Name>
		</Unit>
		<Unit>
			<Value>h</Value>
			<Name>ч</Name>
		</Unit>
		<Unit>
			<Value>cm</Value>
			<Name>см</Name>
		</Unit>
		<Unit>
			<Value>kg/m2</Value>
			<Name>кг/м2</Name>
		</Unit>
		<Unit>
			<Value>m</Value>
			<Name>м</Name>
		</Unit>
		<Unit>
			<Value>mmol/l</Value>
			<Name>ммоль/л</Name>
		</Unit>
		<Unit>
			<Value>pg/ml</Value>
			<Name>пг/мл</Name>
		</Unit>
		<Unit>
			<Value>s</Value>
			<Name>сек</Name>
		</Unit>
		<Unit>
			<Value>lb</Value>
			<Name>фунты</Name>
		</Unit>
		<Unit>
			<Value>pg</Value>
			<Name>пг</Name>
		</Unit>
		<Unit>
			<Value>1/min</Value>
			<Name>в мин</Name>
		</Unit>
	</Units>
	
	<Rules>
		<regexp>\][^.,:&lt; ]</regexp>
		
    <regexp>\.\s*[а-я]</regexp>
		<regexp>:\s*[А-Я]</regexp>
    
    <regexp>\.\s+\.</regexp>
    <regexp>\,\s+\,</regexp>
    <regexp>\.\s+\,</regexp>
    <regexp>\,\s+\.</regexp>
    
    <regexp>:\s*\.</regexp>
    <regexp>:\s*\,</regexp>
    
    <regexp>\s+\.</regexp>
    <regexp>\s+\,</regexp>
		
		<seek> .&lt;</seek>
		<seek>&lt;td&gt;,</seek>
    <seek>&lt;td&gt; ,</seek>
	</Rules>
	
	<Stoppers>
			<Stopper>state</Stopper>
			<Stopper>magnitude_status</Stopper>
			<Stopper>math_function</Stopper>
			<Stopper>origin</Stopper>
			<Stopper>time</Stopper>
			<Stopper>width</Stopper>
			<Stopper>normal_status</Stopper>
			<Stopper>other_reference_ranges</Stopper>
			<Stopper>normal_range</Stopper>
			<Stopper>null_flavour</Stopper>
			<Stopper>terminology_id</Stopper>
			<Stopper>mappings</Stopper>
			<Stopper>links</Stopper>
			<Stopper>language</Stopper>
			<Stopper>encoding</Stopper>
			<Stopper>provider</Stopper>
			<Stopper>subject</Stopper>
			<Stopper>other_participations</Stopper>
			<Stopper>context</Stopper>
			<Stopper>setting</Stopper>
			<Stopper>uid</Stopper>
			<Stopper>composer</Stopper>
			<Stopper>territory</Stopper>
			<Stopper>category</Stopper>
			<Stopper>context</Stopper>
			<Stopper>любое_событие_as_interval_event</Stopper>
	</Stoppers>
</config>
